.footer{
    background: linear-gradient(to right, #0099ff 0%, #0f51a7 25%);
    height: 85px;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
   color: white;
   text-align: center;
}